
        <h3 class="page-title"> PORTER, R-Car M2
    <small> Renesas</small>
</h3>
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="icon-home"></i>
            <a href="index.html">Home</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
             <a href="boards.html">Boards</a> 
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <span> PORTER </span>
        </li>
    </ul>
    <div class="page-toolbar">
        <div class="btn-group pull-right">
            <button type="button" class="btn btn-fit-height grey-salt dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="1000" data-close-others="true"> Actions
                <i class="fa fa-angle-down"></i>
            </button>
            <ul class="dropdown-menu pull-right" role="menu">
                <li>
                    <a href="#">
                        <i class="icon-bell"></i> Action</a>
                </li>
                <li>
                    <a href="#">
                        <i class="icon-shield"></i> Another action</a>
                </li>
                <li>
                    <a href="#">
                        <i class="icon-user"></i> Something else here</a>
                </li>
                <li class="divider"> </li>
                <li>
                    <a href="#">
                        <i class="icon-bag"></i> Separated link</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- END PAGE HEADER-->
<!-- BEGIN : LISTS -->
<div class="row">
    <div class="col-lg-8">
        <div class="portlet light portlet-fit">
            <div class="panel-body">

                <div class="pull-right">
                    <button class="btn btn-success btn-xs">  Active</button>
                    <button class="btn btn-default btn-xs"> <i class="fa fa-pencil"></i> Edit</button>
                </div>
                <h2 class="m-t-none">Power distribution</h2>
                <small>
                    June 8th, 2016
                </small>
                <br>
                <br>
                <div class="svg">
                <svg preserveAspectRatio="xMidYMid meet" height="450px" viewBox="0 0 764 450" style="background-color: rgb(255, 255, 255);" version="1.1" width="100%" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <defs></defs>
                    <g transform="translate(0.5,0.5)">
                        <a xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#">
                        <rect fill="#fff2cc" height="60" rx="9" ry="9" stroke="#f5e8c4" stroke-width="2" width="120" x="642" y="2"></rect></a>
                        <g transform="translate(684.5,25.5)">
                            <switch>
                                <foreignObject height="12" pointer-events="none" requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility" style="overflow:visible;" width="34">
                                    <div style="display: inline-block; font-size: 12px; font-family: Helvetica; color: rgb(0, 0, 0); line-height: 1.2; vertical-align: top; width: 35px; white-space: nowrap; word-wrap: normal; font-weight: bold; text-align: center;" xmlns="http://www.w3.org/1999/xhtml">
                                        <div style="display:inline-block; text-align:inherit; text-decoration:inherit;" xmlns="http://www.w3.org/1999/xhtml">IoT #0
                                            <br></div>
                                    </div>
                                </foreignObject>
                                <text fill="#000000" font-family="Helvetica" font-size="12px" font-weight="bold" text-anchor="middle" x="17" y="12">IoT #0&lt;br&gt;</text>
                            </switch>
                        </g>
                        <a xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#">
                        <rect fill="#f8cecc" height="40" rx="6" ry="6" stroke="#f0c7c5" stroke-width="2" width="80" x="2" y="2"></rect>
                        </a>
                        <g transform="translate(19.5,15.5)">
                            <switch>
                                <foreignObject height="12" pointer-events="none" requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility" style="overflow:visible;" width="43">
                                    <div style="display: inline-block; font-size: 12px; font-family: Helvetica; color: rgb(0, 0, 0); line-height: 1.2; vertical-align: top; width: 44px; white-space: nowrap; word-wrap: normal; font-weight: bold; text-align: center;" xmlns="http://www.w3.org/1999/xhtml">
                                        <div style="display:inline-block; text-align:inherit; text-decoration:inherit;" xmlns="http://www.w3.org/1999/xhtml">Battery</div>
                                    </div>
                                </foreignObject>
                                <text fill="#000000" font-family="Helvetica" font-size="12px" font-weight="bold" text-anchor="middle" x="22" y="12">Battery</text>
                            </switch>
                        </g>
                        <a xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#">
                        <rect fill="#dae8fc" height="40" pointer-events="all" stroke="#cfddf0" stroke-width="2" width="80" x="202" y="2"></rect>
                        </a>
                        <g transform="translate(215.5,15.5)">
                            <switch>
                                <foreignObject height="12" pointer-events="none" requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility" style="overflow:visible;" width="51">
                                    <div style="display: inline-block; font-size: 12px; font-family: Helvetica; color: rgb(0, 0, 0); line-height: 1.2; vertical-align: top; width: 52px; white-space: nowrap; word-wrap: normal; font-weight: bold; text-align: center;" xmlns="http://www.w3.org/1999/xhtml">
                                        <div style="display:inline-block; text-align:inherit; text-decoration:inherit;" xmlns="http://www.w3.org/1999/xhtml">Boost 5v
                                            <br></div>
                                    </div>
                                </foreignObject>
                                <text fill="#000000" font-family="Helvetica" font-size="12px" font-weight="bold" text-anchor="middle" x="26" y="12">Boost 5v&lt;br&gt;</text>
                            </switch>
                        </g>
                        <a xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#">
                        <rect fill="#dae8fc" height="40" pointer-events="all" stroke="#cfddf0" stroke-width="2" width="80" x="202" y="67"></rect>
                        </a>
                        <g transform="translate(215.5,80.5)">
                            <switch>
                                <foreignObject height="12" pointer-events="none" requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility" style="overflow:visible;" width="52">
                                    <div style="display: inline-block; font-size: 12px; font-family: Helvetica; color: rgb(0, 0, 0); line-height: 1.2; vertical-align: top; width: 53px; white-space: nowrap; word-wrap: normal; font-weight: bold; text-align: center;" xmlns="http://www.w3.org/1999/xhtml">
                                        <div style="display:inline-block; text-align:inherit; text-decoration:inherit;" xmlns="http://www.w3.org/1999/xhtml">LDO 3.3v
                                            <br></div>
                                    </div>
                                </foreignObject>
                                <text fill="#000000" font-family="Helvetica" font-size="12px" font-weight="bold" text-anchor="middle" x="26" y="12">LDO 3.3v&lt;br&gt;</text>
                            </switch>
                        </g>
                        <path d="M 82 22 L 193.76 22" fill="none" pointer-events="none" stroke="#6b6b6b" stroke-miterlimit="10" stroke-width="2"></path>
                        <path d="M 199.76 22 L 191.76 26 L 193.76 22 L 191.76 18 Z" fill="#6b6b6b" pointer-events="none" stroke="#6b6b6b" stroke-miterlimit="10" stroke-width="2"></path>
                        <path d="M 82 22 L 132 22 Q 142 22 142 32 L 142 77 Q 142 87 152 87 L 193.76 87" fill="none" pointer-events="none" stroke="#6b6b6b" stroke-miterlimit="10" stroke-width="2"></path>
                        <path d="M 199.76 87 L 191.76 91 L 193.76 87 L 191.76 83 Z" fill="#6b6b6b" pointer-events="none" stroke="#6b6b6b" stroke-miterlimit="10" stroke-width="2"></path>

                        <a xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#">
                        <rect fill="#dae8fc" height="40" pointer-events="all" stroke="#cfddf0" stroke-width="2" width="80" x="202" y="137"></rect></a>
                        <g transform="translate(215.5,150.5)">
                            <switch>
                                <foreignObject height="12" pointer-events="none" requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility" style="overflow:visible;" width="52">
                                    <div style="display: inline-block; font-size: 12px; font-family: Helvetica; color: rgb(0, 0, 0); line-height: 1.2; vertical-align: top; width: 53px; white-space: nowrap; word-wrap: normal; font-weight: bold; text-align: center;" xmlns="http://www.w3.org/1999/xhtml">
                                        <div style="display:inline-block; text-align:inherit; text-decoration:inherit;" xmlns="http://www.w3.org/1999/xhtml">LDO 1.8v
                                            <br></div>
                                    </div>
                                </foreignObject>
                                <text fill="#000000" font-family="Helvetica" font-size="12px" font-weight="bold" text-anchor="middle" x="26" y="12">LDO 1.8v&lt;br&gt;</text>
                            </switch>
                        </g>
                        <path d="M 82 22 L 132 22 Q 142 22 142 32 L 142 147 Q 142 157 152 157 L 193.76 157" fill="none" pointer-events="none" stroke="#6b6b6b" stroke-miterlimit="10" stroke-width="2"></path>
                        <path d="M 199.76 157 L 191.76 161 L 193.76 157 L 191.76 153 Z" fill="#6b6b6b" pointer-events="none" stroke="#6b6b6b" stroke-miterlimit="10" stroke-width="2"></path>
                        <g transform="translate(95.5,16.5)">
                            <switch>
                                <foreignObject height="12" pointer-events="all" requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility" style="overflow:visible;" width="31">
                                    <div style="display: inline-block; font-size: 12px; font-family: Helvetica; color: rgb(0, 0, 0); line-height: 1.2; vertical-align: top; white-space: nowrap; text-align: center;" xmlns="http://www.w3.org/1999/xhtml">
                                        <div style="display:inline-block; text-align:inherit; text-decoration:inherit; background-color:#ffffff;" xmlns="http://www.w3.org/1999/xhtml">VBAT</div>
                                    </div>
                                </foreignObject>
                                <text fill="#000000" font-family="Helvetica" font-size="12px" text-anchor="middle" x="16" y="12">VBAT</text>
                            </switch>
                        </g>
                        <a xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#">
                        <rect fill="#d5e8d4" height="120" rx="18" ry="18" stroke="#c7d9c6" stroke-width="2" width="120" x="562" y="297"></rect></a>
                        <a xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#">
                        <g transform="translate(580.5,350.5)">
                            <switch>
                                <foreignObject height="12" pointer-events="none" requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility" style="overflow:visible;" width="82">
                                    <div style="display: inline-block; font-size: 12px; font-family: Helvetica; color: rgb(0, 0, 0); line-height: 1.2; vertical-align: top; width: 83px; white-space: nowrap; word-wrap: normal; font-weight: bold; text-align: center;" xmlns="http://www.w3.org/1999/xhtml">
                                        <div style="display:inline-block; text-align:inherit; text-decoration:inherit;" xmlns="http://www.w3.org/1999/xhtml">CF3 socket #1
                                            <br></div>
                                    </div>
                                </foreignObject>
                                <text fill="#000000" font-family="Helvetica" font-size="12px" font-weight="bold" text-anchor="middle" x="41" y="12">CF3 socket #0&lt;br&gt;</text>
                            </switch>
                        </g>
                        <rect fill="#d5e8d4" height="120" rx="18" ry="18" stroke="#c7d9c6" stroke-width="2" width="120" x="362" y="297"></rect></a>
                        <g transform="translate(380.5,350.5)">
                            <switch>
                                <foreignObject height="12" pointer-events="none" requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility" style="overflow:visible;" width="82">
                                    <div style="display: inline-block; font-size: 12px; font-family: Helvetica; color: rgb(0, 0, 0); line-height: 1.2; vertical-align: top; width: 83px; white-space: nowrap; word-wrap: normal; font-weight: bold; text-align: center;" xmlns="http://www.w3.org/1999/xhtml">
                                        <div style="display:inline-block; text-align:inherit; text-decoration:inherit;" xmlns="http://www.w3.org/1999/xhtml">CF3 socket #0
                                            <br></div>
                                    </div>
                                </foreignObject>
                                <text fill="#000000" font-family="Helvetica" font-size="12px" font-weight="bold" text-anchor="middle" x="41" y="12">CF3 socket #0&lt;br&gt;</text>
                            </switch>
                        </g>
                        <path d="M 282 22 L 302 22 Q 312 22 320.94 26.47 L 326.47 29.24 Q 332 32 342 32 L 353.76 32" fill="none" pointer-events="none" stroke="#6b6b6b" stroke-miterlimit="10" stroke-width="2"></path>
                        <path d="M 359.76 32 L 351.76 36 L 353.76 32 L 351.76 28 Z" fill="#6b6b6b" pointer-events="none" stroke="#6b6b6b" stroke-miterlimit="10" stroke-width="2"></path>
                        <path d="M 282 87 L 302 87 Q 312 87 320.94 82.53 L 326.47 79.76 Q 332 77 342 77 L 353.76 77" fill="none" pointer-events="none" stroke="#6b6b6b" stroke-miterlimit="10" stroke-width="2"></path>
                        <path d="M 359.76 77 L 351.76 81 L 353.76 77 L 351.76 73 Z" fill="#6b6b6b" pointer-events="none" stroke="#6b6b6b" stroke-miterlimit="10" stroke-width="2"></path>
                        <path d="M 282 157 L 302 157 Q 312 157 316.96 148.32 L 327.04 130.68 Q 332 122 342 122 L 353.76 122" fill="none" pointer-events="none" stroke="#6b6b6b" stroke-miterlimit="10" stroke-width="2"></path>
                        <path d="M 359.76 122 L 351.76 126 L 353.76 122 L 351.76 118 Z" fill="#6b6b6b" pointer-events="none" stroke="#6b6b6b" stroke-miterlimit="10" stroke-width="2"></path>
                        <path d="M 171 304.5 L 166.5 300.75 Q 162 297 172 297 L 224 297 Q 234 297 241.68 303.4 L 246.84 307.7 Q 252 312 244.32 318.4 L 239.16 322.7 Q 234 327 224 327 L 172 327 Q 162 327 169.68 320.6 L 174.84 316.3 Q 180 312 175.5 308.25 Z" fill="#c9c9c9" pointer-events="none" stroke="#d6cadb" stroke-miterlimit="10" stroke-width="2"></path>
                        <g transform="translate(189.5,305.5)">
                            <switch>
                                <foreignObject height="12" pointer-events="all" requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility" style="overflow:visible;" width="33">
                                    <div style="display: inline-block; font-size: 12px; font-family: Helvetica; color: rgb(0, 0, 0); line-height: 1.2; vertical-align: top; width: 34px; white-space: nowrap; word-wrap: normal; text-align: center;" xmlns="http://www.w3.org/1999/xhtml">
                                        <div style="display:inline-block; text-align:inherit; text-decoration:inherit;" xmlns="http://www.w3.org/1999/xhtml">VBUS</div>
                                    </div>
                                </foreignObject>
                                <text fill="#000000" font-family="Helvetica" font-size="12px" text-anchor="middle" x="17" y="12">VBUS</text>
                            </switch>
                        </g>
                        <path d="M 171 349.5 L 166.5 345.75 Q 162 342 172 342 L 224 342 Q 234 342 241.68 348.4 L 246.84 352.7 Q 252 357 244.32 363.4 L 239.16 367.7 Q 234 372 224 372 L 172 372 Q 162 372 169.68 365.6 L 174.84 361.3 Q 180 357 175.5 353.25 Z" fill="#e1d5e7" pointer-events="none" stroke="#d6cadb" stroke-miterlimit="10" stroke-width="2"></path>
                        <g transform="translate(178.5,350.5)">
                            <switch>
                                <foreignObject height="12" pointer-events="all" requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility" style="overflow:visible;" width="55">
                                    <div style="display: inline-block; font-size: 12px; font-family: Helvetica; color: rgb(0, 0, 0); line-height: 1.2; vertical-align: top; width: 56px; white-space: nowrap; word-wrap: normal; text-align: center;" xmlns="http://www.w3.org/1999/xhtml">
                                        <div style="display:inline-block; text-align:inherit; text-decoration:inherit;" xmlns="http://www.w3.org/1999/xhtml">VCC_3V3</div>
                                    </div>
                                </foreignObject>
                                <text fill="#000000" font-family="Helvetica" font-size="12px" text-anchor="middle" x="28" y="12">VCC_3V3</text>
                            </switch>
                        </g>
                        <path d="M 171 399.5 L 166.5 395.75 Q 162 392 172 392 L 224 392 Q 234 392 241.68 398.4 L 246.84 402.7 Q 252 407 244.32 413.4 L 239.16 417.7 Q 234 422 224 422 L 172 422 Q 162 422 169.68 415.6 L 174.84 411.3 Q 180 407 175.5 403.25 Z" fill="#ffce9f" pointer-events="none" stroke="#d6cadb" stroke-miterlimit="10" stroke-width="2"></path>
                        <g transform="translate(178.5,400.5)">
                            <switch>
                                <foreignObject height="12" pointer-events="all" requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility" style="overflow:visible;" width="55">
                                    <div style="display: inline-block; font-size: 12px; font-family: Helvetica; color: rgb(0, 0, 0); line-height: 1.2; vertical-align: top; width: 56px; white-space: nowrap; word-wrap: normal; text-align: center;" xmlns="http://www.w3.org/1999/xhtml">
                                        <div style="display:inline-block; text-align:inherit; text-decoration:inherit;" xmlns="http://www.w3.org/1999/xhtml">VCC_1V8</div>
                                    </div>
                                </foreignObject>
                                <text fill="#000000" font-family="Helvetica" font-size="12px" text-anchor="middle" x="28" y="12">VCC_1V8</text>
                            </switch>
                        </g>
                        <path d="M 252 312 L 272 312 Q 282 312 291.58 314.87 L 322.42 324.13 Q 332 327 342 327 L 353.76 327" fill="none" pointer-events="none" stroke="#c9c9c9" stroke-miterlimit="10" stroke-width="2"></path>
                        <path d="M 359.76 327 L 351.76 331 L 353.76 327 L 351.76 323 Z" fill="#c9c9c9" pointer-events="none" stroke="#c9c9c9" stroke-miterlimit="10" stroke-width="2"></path>
                        <path d="M 252 357 L 272 357 Q 282 357 292 357 L 322 357 Q 332 357 342 357 L 353.76 357" fill="none" pointer-events="none" stroke="#cda2be" stroke-miterlimit="10" stroke-width="2"></path>
                        <path d="M 359.76 357 L 351.76 361 L 353.76 357 L 351.76 353 Z" fill="#cda2be" pointer-events="none" stroke="#cda2be" stroke-miterlimit="10" stroke-width="2"></path>
                        <path d="M 252 407 L 272 407 Q 282 407 291.28 403.29 L 322.72 390.71 Q 332 387 342 387 L 353.76 387" fill="none" pointer-events="none" stroke="#ffce9f" stroke-miterlimit="10" stroke-width="2"></path>
                        <path d="M 359.76 387 L 351.76 391 L 353.76 387 L 351.76 383 Z" fill="#ffce9f" pointer-events="none" stroke="#ffce9f" stroke-miterlimit="10" stroke-width="2"></path>
                        <path d="M 374.5 69.5 L 380.75 65.75 Q 387 62 397 62 L 427 62 Q 437 62 445.57 67.14 L 453.79 72.07 Q 462 77 453.43 82.14 L 445.21 87.07 Q 437 92 427 92 L 397 92 Q 387 92 378.43 86.86 L 370.21 81.93 Q 362 77 368.25 73.25 Z" fill="#e1d5e7" pointer-events="none" stroke="#d6cadb" stroke-miterlimit="10" stroke-width="2"></path>
                        <g transform="translate(383.5,70.5)">
                            <switch>
                                <foreignObject height="12" pointer-events="all" requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility" style="overflow:visible;" width="55">
                                    <div style="display: inline-block; font-size: 12px; font-family: Helvetica; color: rgb(0, 0, 0); line-height: 1.2; vertical-align: top; width: 56px; white-space: nowrap; word-wrap: normal; text-align: center;" xmlns="http://www.w3.org/1999/xhtml">
                                        <div style="display:inline-block; text-align:inherit; text-decoration:inherit;" xmlns="http://www.w3.org/1999/xhtml">VCC_3V3</div>
                                    </div>
                                </foreignObject>
                                <text fill="#000000" font-family="Helvetica" font-size="12px" text-anchor="middle" x="28" y="12">VCC_3V3</text>
                            </switch>
                        </g>
                        <path d="M 374.5 24.5 L 380.75 20.75 Q 387 17 397 17 L 427 17 Q 437 17 445.57 22.14 L 453.79 27.07 Q 462 32 453.43 37.14 L 445.21 42.07 Q 437 47 427 47 L 397 47 Q 387 47 378.43 41.86 L 370.21 36.93 Q 362 32 368.25 28.25 Z" fill="#c9c9c9" pointer-events="none" stroke="#d6cadb" stroke-miterlimit="10" stroke-width="2"></path>
                        <g transform="translate(394.5,25.5)">
                            <switch>
                                <foreignObject height="12" pointer-events="all" requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility" style="overflow:visible;" width="33">
                                    <div style="display: inline-block; font-size: 12px; font-family: Helvetica; color: rgb(0, 0, 0); line-height: 1.2; vertical-align: top; width: 34px; white-space: nowrap; word-wrap: normal; text-align: center;" xmlns="http://www.w3.org/1999/xhtml">
                                        <div style="display:inline-block; text-align:inherit; text-decoration:inherit;" xmlns="http://www.w3.org/1999/xhtml">VBUS</div>
                                    </div>
                                </foreignObject>
                                <text fill="#000000" font-family="Helvetica" font-size="12px" text-anchor="middle" x="17" y="12">VBUS</text>
                            </switch>
                        </g>
                        <path d="M 374.5 114.5 L 380.75 110.75 Q 387 107 397 107 L 427 107 Q 437 107 445.57 112.14 L 453.79 117.07 Q 462 122 453.43 127.14 L 445.21 132.07 Q 437 137 427 137 L 397 137 Q 387 137 378.43 131.86 L 370.21 126.93 Q 362 122 368.25 118.25 Z" fill="#ffce9f" pointer-events="none" stroke="#d6cadb" stroke-miterlimit="10" stroke-width="2"></path>
                        <g transform="translate(383.5,115.5)">
                            <switch>
                                <foreignObject height="12" pointer-events="all" requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility" style="overflow:visible;" width="55">
                                    <div style="display: inline-block; font-size: 12px; font-family: Helvetica; color: rgb(0, 0, 0); line-height: 1.2; vertical-align: top; width: 56px; white-space: nowrap; word-wrap: normal; text-align: center;" xmlns="http://www.w3.org/1999/xhtml">
                                        <div style="display:inline-block; text-align:inherit; text-decoration:inherit;" xmlns="http://www.w3.org/1999/xhtml">VCC_1V8</div>
                                    </div>
                                </foreignObject>
                                <text fill="#000000" font-family="Helvetica" font-size="12px" text-anchor="middle" x="28" y="12">VCC_1V8</text>
                            </switch>
                        </g>
                        <a xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#">
                        <rect fill="#fff2cc" height="60" pointer-events="all" rx="9" ry="9" stroke="#f5e8c4" stroke-width="2" width="120" x="642" y="97"></rect></a>
                        <g transform="translate(684.5,120.5)">
                            <switch>
                                <foreignObject height="12" pointer-events="none" requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility" style="overflow:visible;" width="34">
                                    <div style="display: inline-block; font-size: 12px; font-family: Helvetica; color: rgb(0, 0, 0); line-height: 1.2; vertical-align: top; width: 35px; white-space: nowrap; word-wrap: normal; font-weight: bold; text-align: center;" xmlns="http://www.w3.org/1999/xhtml">
                                        <div style="display:inline-block; text-align:inherit; text-decoration:inherit;" xmlns="http://www.w3.org/1999/xhtml">IoT #1
                                            <br></div>
                                    </div>
                                </foreignObject>
                                <text fill="#000000" font-family="Helvetica" font-size="12px" font-weight="bold" text-anchor="middle" x="17" y="12">IoT #1&lt;br&gt;</text>
                            </switch>
                        </g>
                        <a xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#">
                        <rect fill="#fff2cc" height="60" pointer-events="all" rx="9" ry="9" stroke="#f5e8c4" stroke-width="2" width="120" x="642" y="197"></rect></a>
                        <g transform="translate(684.5,220.5)">
                            <switch>
                                <foreignObject height="12" pointer-events="none" requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility" style="overflow:visible;" width="34">
                                    <div style="display: inline-block; font-size: 12px; font-family: Helvetica; color: rgb(0, 0, 0); line-height: 1.2; vertical-align: top; width: 35px; white-space: nowrap; word-wrap: normal; font-weight: bold; text-align: center;" xmlns="http://www.w3.org/1999/xhtml">
                                        <div style="display:inline-block; text-align:inherit; text-decoration:inherit;" xmlns="http://www.w3.org/1999/xhtml">IoT #2
                                            <br></div>
                                    </div>
                                </foreignObject>
                                <text fill="#000000" font-family="Helvetica" font-size="12px" font-weight="bold" text-anchor="middle" x="17" y="12">IoT #2&lt;br&gt;</text>
                            </switch>
                        </g>
                        <path d="M 462 32 L 482 32 Q 492 32 501.92 30.76 L 602.08 18.24 Q 612 17 622 17 L 633.76 17" fill="none" pointer-events="none" stroke="#c9c9c9" stroke-miterlimit="10" stroke-width="2"></path>
                        <path d="M 639.76 17 L 631.76 21 L 633.76 17 L 631.76 13 Z" fill="#c9c9c9" pointer-events="none" stroke="#c9c9c9" stroke-miterlimit="10" stroke-width="2"></path>
                        <path d="M 462 32 L 482 32 Q 492 32 500.32 37.55 L 603.68 106.45 Q 612 112 622 112 L 633.76 112" fill="none" pointer-events="none" stroke="#c9c9c9" stroke-miterlimit="10" stroke-width="2"></path>
                        <path d="M 639.76 112 L 631.76 116 L 633.76 112 L 631.76 108 Z" fill="#c9c9c9" pointer-events="none" stroke="#c9c9c9" stroke-miterlimit="10" stroke-width="2"></path>
                        <path d="M 462 32 L 482 32 Q 492 32 497.55 40.32 L 606.45 203.68 Q 612 212 622 212 L 633.76 212" fill="none" pointer-events="none" stroke="#c9c9c9" stroke-miterlimit="10" stroke-width="2"></path>
                        <path d="M 639.76 212 L 631.76 216 L 633.76 212 L 631.76 208 Z" fill="#c9c9c9" pointer-events="none" stroke="#c9c9c9" stroke-miterlimit="10" stroke-width="2"></path>
                        <path d="M 462 77 L 482 77 Q 492 77 501.36 73.49 L 602.64 35.51 Q 612 32 622 32 L 633.76 32" fill="none" pointer-events="none" stroke="#b5739d" stroke-miterlimit="10" stroke-width="2"></path>
                        <path d="M 639.76 32 L 631.76 36 L 633.76 32 L 631.76 28 Z" fill="#b5739d" pointer-events="none" stroke="#b5739d" stroke-miterlimit="10" stroke-width="2"></path>
                        <path d="M 462 77 L 482 77 Q 492 77 501.23 80.85 L 602.77 123.15 Q 612 127 622 127 L 633.76 127" fill="none" pointer-events="none" stroke="#b5739d" stroke-miterlimit="10" stroke-width="2"></path>
                        <path d="M 639.76 127 L 631.76 131 L 633.76 127 L 631.76 123 Z" fill="#b5739d" pointer-events="none" stroke="#b5739d" stroke-miterlimit="10" stroke-width="2"></path>
                        <path d="M 462 77 L 482 77 Q 492 77 498.25 84.81 L 605.75 219.19 Q 612 227 622 227 L 633.76 227" fill="none" pointer-events="none" stroke="#b5739d" stroke-miterlimit="10" stroke-width="2"></path>
                        <path d="M 639.76 227 L 631.76 231 L 633.76 227 L 631.76 223 Z" fill="#b5739d" pointer-events="none" stroke="#b5739d" stroke-miterlimit="10" stroke-width="2"></path>
                        <path d="M 462 122 L 482 122 Q 492 122 501.86 123.64 L 602.14 140.36 Q 612 142 622 142 L 633.76 142" fill="none" pointer-events="none" stroke="#ffb570" stroke-miterlimit="10" stroke-width="2"></path>
                        <path d="M 639.76 142 L 631.76 146 L 633.76 142 L 631.76 138 Z" fill="#ffb570" pointer-events="none" stroke="#ffb570" stroke-miterlimit="10" stroke-width="2"></path>
                        <path d="M 462 122 L 482 122 Q 492 122 499.07 129.07 L 604.93 234.93 Q 612 242 622 242 L 633.76 242" fill="none" pointer-events="none" stroke="#ffb570" stroke-miterlimit="10" stroke-width="2"></path>
                        <path d="M 639.76 242 L 631.76 246 L 633.76 242 L 631.76 238 Z" fill="#ffb570" pointer-events="none" stroke="#ffb570" stroke-miterlimit="10" stroke-width="2"></path>
                        <path d="M 462 122 L 482 122 Q 492 122 500.48 116.7 L 603.52 52.3 Q 612 47 622 47 L 633.76 47" fill="none" pointer-events="none" stroke="#ffb570" stroke-miterlimit="10" stroke-width="2"></path>
                        <path d="M 639.76 47 L 631.76 51 L 633.76 47 L 631.76 43 Z" fill="#ffb570" pointer-events="none" stroke="#ffb570" stroke-miterlimit="10" stroke-width="2"></path>
                    </g>
                </svg>

                </div>
            </div>
        </div>
    <div class="col-md-14 col-sm-14">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet box red">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-cogs"></i>Power details </div>
                <div class="actions">
                    <a href="javascript:;" class="btn btn-default btn-sm">
                        <i class="fa fa-print"></i> Print </a>
                </div>
            </div>
            <div class="portlet-body">
                <table class="table table-striped table-bordered table-hover table-checkable order-column" id="sample_3">
                    <thead>
                        <tr>
                            <th> Status </th>
                            <th> Power </th>
                            <th> Target </th>
                            <th> Current </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr >
                            <td class="vertical-align_mdl">
                                <input type="checkbox" name="my-checkbox" checked>
                            </td>
                            <td >
                                <div class="left_div">
                                    <a href="#"><h5>IoT #0</h5></a>
                                </div>
                                <div class="right_div">
                                    <small>VBUS<br></small>
                                    <small>VCC_3V3<br></small>
                                    <small>VCC_1V8<br></small>
                                </div>
                            </td>
                            <td>
                                <h4 class="text-center">110 mW</h4>
                            </td>
                            <td>
                                <h4 class="text-center text-success">45 mW</h4>
                            </td>
                            
                        </tr>
                        <tr >
                            <td class="vertical-align_mdl">
                                <input type="checkbox" name="my-checkbox" checked>
                            </td>
                            <td >
                                <div class="left_div">
                                    <a href="#"><h5>IoT #1</h5></a>
                                </div>
                                <div class="right_div">
                                    <small>VBUS<br></small>
                                    <small>VCC_3V3<br></small>
                                    <small>VCC_1V8<br></small>
                                </div>
                            </td>
                            <td>
                                <h4 class="text-center">215 mW</h4>
                            </td>
                            <td>
                                <h4 class="text-center text-warning">542 mW</h4>
                            </td>
                            
                        </tr>
                        <tr >
                            <td class="vertical-align_mdl">
                                <input type="checkbox" name="my-checkbox" checked>
                            </td>
                            <td >
                                <div class="left_div">
                                    <a href="#"><h5>IoT #2</h5></a>
                                </div>
                                <div class="right_div">
                                    <small>VBUS<br></small>
                                    <small>VCC_3V3<br></small>
                                    <small>VCC_1V8<br></small>
                                </div>
                            </td>
                            <td>
                                <h4 class="text-center">195 mW</h4>
                            </td>
                            <td>
                                <h4 class="text-center text-warning">451 mW</h4>
                            </td>
                            
                        </tr>
                        <tr >
                            <td class="vertical-align_mdl">
                                <input type="checkbox" name="my-checkbox">
                            </td>
                            <td >
                                <div class="left_div">
                                    <a href="#"><h5>IoT #3</h5></a>
                                </div>
                                <div class="right_div">
                                    <small>VBUS<br></small>
                                    <small>VCC_3V3<br></small>
                                    <small>VCC_1V8<br></small>
                                </div>
                            </td>
                            <td>
                                <h4 class="text-center text-warning">573 mW</h4>
                            </td>
                            <td>
                                <h4 class="text-center text-success">345 mW</h4>
                            </td>
                            
                        </tr>
                        <tr >
                            <td class="vertical-align_mdl">
                                <input type="checkbox" name="my-checkbox" checked>
                            </td>
                            <td >
                                <div class="left_div">
                                    <a href="#"><h5>IoT #4</h5></a>
                                </div>
                                <div class="right_div">
                                    <small>VBUS<br></small>
                                    <small>VCC_3V3<br></small>
                                    <small>VCC_1V8<br></small>
                                </div>
                            </td>
                            <td>
                                <h4 class="text-center text-warning">680 mW</h4>
                            </td>
                            <td>
                                <h4 class="text-center text-success">74 mW</h4>
                            </td>
                            
                        </tr>
                        <tr >
                            <td class="vertical-align_mdl">
                                <input type="checkbox" name="my-checkbox" checked>
                            </td>
                            <td >
                                <div class="left_div">
                                    <a href="#"><h5>IoT #5</h5></a>
                                </div>
                                <div class="right_div">
                                    <small>VBUS<br></small>
                                    <small>VCC_3V3<br></small>
                                    <small>VCC_1V8<br></small>
                                </div>
                            </td>
                            <td>
                                <h4 class="text-center text-danger">771 mW</h4>
                            </td>
                            <td>
                                <h4 class="text-center text-success">50 mW</h4>
                            </td>
                            
                        </tr>
                        <tr >
                            <td class="vertical-align_mdl">
                                <input type="checkbox" name="my-checkbox">
                            </td>
                            <td >
                                <div class="left_div">
                                    <a href="#"><h5>IoT #6</h5></a>
                                </div>
                                <div class="right_div">
                                    <small>VBUS<br></small>
                                    <small>VCC_3V3<br></small>
                                    <small>VCC_1V8<br></small>
                                </div>
                            </td>
                            <td>
                                <h4 class="text-center">18 mW</h4>
                            </td>
                            <td>
                                <h4 class="text-center text-success">152 mW</h4>
                            </td>
                            
                        </tr>
                        <tr >
                            <td class="vertical-align_mdl">
                                <input type="checkbox" name="my-checkbox" checked>
                            </td>
                            <td >
                                <div class="left_div">
                                    <a href="#"><h5>IoT #7</h5></a>
                                </div>
                                <div class="right_div">
                                    <small>VBUS<br></small>
                                    <small>VCC_3V3<br></small>
                                    <small>VCC_1V8<br></small>
                                </div>
                            </td>
                            <td>
                                <h4 class="text-center">425 mW</h4>
                            </td>
                            <td>
                                <h4 class="text-center text-success">54 mW</h4>
                            </td>
                            
                        </tr>
                        
                        
                    </tbody>
                </table>
            </div>
        </div>
        <!-- END EXAMPLE TABLE PORTLET-->
    </div>
    <div class="col-md-14 col-sm-14">
       <div class="hpanel">
            <div class="panel-body">
               <div class="pull-right">
                    <button id="goButton" class="btn btn-danger btn-xs">Stop</button>
                    <button id="reinitButton" class="btn btn-default btn-xs"> <i class="fa fa-pencil"></i> Init</button>
                </div>
                <h2 class="m-t-none">Power - Total (mW)</h2>
                <div class="small m-t-xs">
                1 sample every 50ms
                <br>
                </div>
                <br>
                <a class="btn btn-success btn-xs" href="flot5.html"><i class="fa fa-plus-circle"> Detail...</i></a>
                <div class="flot-chart">
                    <div class="flot-chart-content" id="overview"></div>
                </div>
            </div>
            <div class="panel-footer">
                Update interval: <input id="updateInterval" type="text" value="" style="text-align: right; width:5em"> ms
                <div id="choices"></div>
            </div>
        </div>
    </div>
    </div>
    <div class="col-lg-4">
        <div class="portlet light portlet-fit" style="min-height: 1424px;">
            <div class="portlet-title">
                <div class="caption">
                    <i class=" icon-layers font-green"></i>
                    <span class="caption-subject font-green bold uppercase">PORTER, R-Car</span>
                    <div class="caption-desc font-grey-cascade"> 
                        <a href="#">
                            <span class="photo">
                                <img src="assets/layouts/layout3/img/avatar8.jpg" class="img-circle" alt=""> </span>
                            <span class="subject">
                                <small>Created by: <span class="font-bold">Donna Clarkson</span> </small><br>
                                <small class="text-muted">10.07.2015, 02:12 am</small>
                            </span>
                            
                        </a>
                    </div>
                </div>
            </div>
            <div class="portlet-body">
                <div class="mt-element-list">
                    <div class="mt-list-head list-todo dark">
                        <div class="list-head-title-container">
                            <h3 class="list-title">Board informations</h3>
                            
                        </div>
                    </div>
                    <div class="mt-list-container list-todo">
                        <div class="list-todo-line red"></div>
                        <ul>
                            <li class="mt-list-item">
                                <div class="list-todo-icon bg-white font-blue-steel">
                                    <i class="fa fa-folder-open"></i>
                                </div>
                                <div class="list-todo-item blue-steel">
                                    <a class="list-toggle-container font-white" data-toggle="collapse" href="#task-1-2" aria-expanded="false">
                                        <div class="list-toggle done uppercase">
                                            <div class="list-toggle-title bold">Description</div>
                                            <div class="list-toggle-title-bar"></div>
                                        </div>
                                    </a>
                                    <div class="task-list panel-collapse collapse in" id="task-1-2">
                                        <ul>
                                            <li class="task-list-item done">
                                                <div class="task-content">
                                                    <p>
                                                        Renesas R-Car M2 Porter is a board specifically designed for automotive infotainment applications. The hardware contains interfaces seldom found on hobbyist boards such as IEBus (automotive 2-wire protocol to connect multiple media devices), EXIO connector, and an Ethernet AVB bus. Video input would allow you to use some rear camera for example, LVDS and the touchscreen header a touchscreen display.
                                                    </p>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li class="mt-list-item">
                                <div class="list-todo-icon bg-white font-green-meadow">
                                    <i class="fa fa-random"></i>
                                </div>
                                <div class="list-todo-item green-meadow">
                                    <a class="list-toggle-container font-white" data-toggle="collapse" href="#task-2-2" aria-expanded="false">
                                        <div class="list-toggle done uppercase">
                                            <div class="list-toggle-title bold">Boards</div>
                                            <div class="list-toggle-title-bar"></div>
                                        </div>
                                    </a>
                                    <div class="task-list panel-collapse collapse in" id="task-2-2">
                                        <ul>
                                            <li class="task-list-item done">
                                            <div class="task-icon">
                                                    <a href="javascript:;">
                                                        <img alt="" src="assets/global/img/portfolio/600x600/5.png">
                                                    </a>
                                            </div>
                                             <div class="board_desc">
                                                    <div class="list-datetime bold font-red"> Manufacturer :</div>
                                                    <div class="list-item-content uppercase">
                                                        <p>PORTER</p>
                                                    </div>
                                                    <div class="list-datetime bold font-red"> Model :</div>
                                                    <div class="list-item-content uppercase">
                                                        <p>R-Car</p>
                                                    </div>
                                                    <div class="list-datetime bold font-red"> Version :</div>
                                                    <div class="list-item-content uppercase">
                                                        <p>M2</p>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li class="mt-list-item">
                                <div class="list-todo-icon bg-white font-yellow-crusta">
                                    <i class="fa fa-cogs"></i>
                                </div>
                                <div class="list-todo-item yellow-crusta">
                                    <a class="list-toggle-container" data-toggle="collapse" href="#task-3-2" aria-expanded="false">
                                        <div class="list-toggle done uppercase">
                                            <div class="list-toggle-title bold">SW Distribution</div>
                                            <div class="list-toggle-title-bar"></div>
                                        </div>
                                    </a>
                                    <div class="task-list panel-collapse collapse in" id="task-3-2">
                                        <ul>
                                            <li class="task-list-item done">
                                                <div class="task-icon">
                                                    <a href="javascript:;">
                                                        <img alt="" src="assets/global/img/portfolio/600x600/logo.png">
                                                    </a>
                                                </div>
                                                <div class="board_desc">
                                                    <div class="list-datetime bold font-red"> Provider :</div>
                                                    <div class="list-item-content uppercase">
                                                        <p>Renesas</p>
                                                    </div>
                                                    <div class="list-datetime bold font-red"> Name :</div>
                                                    <div class="list-item-content uppercase">
                                                        <p>PORTER</p>
                                                    </div>
                                                    <div class="list-datetime bold font-red"> Version :</div>
                                                    <div class="list-item-content uppercase">
                                                        <p>1.8.2</p>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- END CONTENT -->

        
        <!--[if lt IE 9]>
        <script src="assets/global/plugins/respond.min.js"></script>
        <script src="assets/global/plugins/excanvas.min.js"></script> 
        <![endif]-->
        <!-- BEGIN CORE PLUGINS -->
        <script src="assets/global/plugins/jquery.min.js" type="text/javascript"></script>
        <script src="assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
        <script src="assets/global/plugins/js.cookie.min.js" type="text/javascript"></script>
        <script src="assets/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js" type="text/javascript"></script>
        <script src="assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
        <script src="assets/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
        <script src="assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
        <!-- END CORE PLUGINS -->
        <!-- BEGIN THEME GLOBAL SCRIPTS -->
        <script src="assets/global/scripts/app.min.js" type="text/javascript"></script>
        <!-- END THEME GLOBAL SCRIPTS -->
        <!-- BEGIN PAGE LEVEL PLUGINS -->
        <script src="assets/global/scripts/datatable.js" type="text/javascript"></script>
        <script src="assets/global/plugins/datatables/datatables.min.js" type="text/javascript"></script>
        <script src="assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js" type="text/javascript"></script>
        <!-- END PAGE LEVEL PLUGINS -->
        <!-- BEGIN PAGE LEVEL SCRIPTS -->
        <script src="assets/pages/scripts/table-datatables-managed.min.js" type="text/javascript"></script>
        <!-- END PAGE LEVEL SCRIPTS -->
        <!-- BEGIN THEME LAYOUT SCRIPTS -->
        <script src="assets/layouts/layout2/scripts/layout.min.js" type="text/javascript"></script>
        <script src="assets/layouts/layout2/scripts/demo.min.js" type="text/javascript"></script>
        <script src="assets/layouts/global/scripts/quick-sidebar.min.js" type="text/javascript"></script>
        <!-- END THEME LAYOUT SCRIPTS -->
        <script type="text/javascript">
            $("[name='my-checkbox']").bootstrapSwitch({size: "mini", onColor: "success", offColor: "warning"});
        </script>

                <!-- BEGIN FLOT SCRIPTS -->
        <script src="assets/layouts/layout2/scripts/flot.js" type="text/javascript"></script>
        <script type="text/javascript" src="assets/layouts/layout2/scripts/jquery.flot.js"></script>
        <script type="text/javascript" src="assets/layouts/layout2/scripts/jquery.flot.selection.js"></script>
        <script type="text/javascript" src="assets/layouts/layout2/scripts/5.js"></script>
        <script type="text/javascript" src="assets/layouts/layout2/scripts/html2canvas.js"></script>
        <script type="text/javascript" src="assets/layouts/layout2/scripts/jquery-ui.js"></script>
        <script type="text/javascript" src="assets/layouts/layout2/scripts/jquery.flot.resize.js"></script>
        <!-- END FLOT SCRIPTS -->
