<h3 class="page-title"> Add new category
</h3>
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="icon-home"></i>
            <a href="index.html">Home</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <span>New Category</span>
        </li>
    </ul>
</div>
<!-- END PAGE HEADER-->
<!-- BEGIN : OVERLAY -->
<div class="row">
    <div class="col-md-12">
        <!-- BEGIN PORTLET-->
        <div class="portlet light form-fit bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-plus font-green"></i>
                    <span class="caption-subject font-green bold uppercase">{{$state.current.data.pageTitle}}</span>
                </div>
            </div>
            <div class="portlet-body form">
                <!-- BEGIN FORM-->
                <form action="#" class="form-horizontal form-bordered ">
                    <div class="form-body">
                        <div class="form-group last">
                            <label class="control-label col-md-3">Name :</label>
                            <div class="col-md-9">
                                    <input type="text" class="form-control input-large" ng-model="category.name" > 
                            </div>
                        </div>
                        <div class="form-group last">
                            <label class="control-label col-md-3">description :</label>
                            <div class="col-md-9">
                                    <textarea ng-model="category.description" class="form-control input-large" > </textarea>
                            </div>
                        </div>
                        <div class="form-group last">
                            <label class="control-label col-md-3">Logo :</label>
                            <div class="col-md-9">
                                    <input type="file" 
                                        accept="image/*" 
                                        image="imageTmp" 
                                        resize-max-height="300"
                                        resize-max-width="250"
                                        resize-quality="0.7" />
                                    <img ng-show="imageTmp || category.image" ng-src="{{imageTmp.resized.dataURL != null && imageTmp.resized.dataURL || category.image}}" />
                            </div>
                        </div>
                    </div>
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-offset-3 col-md-9">
                                <button type="button" class="btn green" ng-click="saveCategory(category)">
                                    <i class="fa fa-check"></i> Submit</button>
                                <a href="#/categories"><button type="button" class="btn default" >Cancel</button></a>
                            </div>
                        </div>
                    </div>
                </form>
                <!-- END FORM-->
            </div>
        </div>
        <!-- END PORTLET-->
    </div>
</div>

<!-- END : OVERLAY -->
                
